<nav class="navbar navbar-default navbar-menu ">
  <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
   <nav class="navbar navbar-inverse navbar-fixed-top color-blue color-black" role="navigation">
    <div class="container">
        <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
       <a class="navbar-brand" href="#/index"> TRAVELO<!-- <img src="static/images/travelo.jpg" class="user-image img-responsive" /> --></a> 

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/home">Home</a>
                </li> 
               
                <li><a href="#/about">About</a>
                <!--</li>-->
                 <!--&lt;!&ndash;<li><a href="#/services">Services</a>&ndash;&gt;-->
                <!--</li>-->
                <!--&lt;!&ndash;<li><a href="#/faq">FAQ</a>&ndash;&gt;-->
                <!--</li>-->
                <!--&lt;!&ndash;<li><a href="#/contact">Contact</a>&ndash;&gt;-->
                <!--</li>-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/hotel">Hotel Booking</a>
                        <!--</li>-->
                        <!--&lt;!&ndash;<li><a href="#/travel">Travel Booking</a>&ndash;&gt;-->
                        <!--</li>-->
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

  </div><!-- /.container-fluid -->
</nav>


