 <div id="page-wrapper" >
            <div id="page-inner">
<div class="row-fluid">              
              <ul class="vntd-list vntd-list-icon-check, heart, check-square, certificate, flag, plus, square-o, heart, caret-right vntd-list-background">
          		<li>Travel Portal Design</li>
                <li>Travel Portal Development</li>
                <li>Tourism Portal Development</li>
                <li>Custom Travel Portal Development</li>
                <li>Travel Software Development</li>
                <li>Travel Agencies</li>
                </ul>
            </div>
          </div>
          <div class="vc_span6 wpb_column column_container">
            <div class="wpb_wrapper">
              	<ul class="vntd-list vntd-list-icon-check, heart, check-square, certificate, flag, plus, square-o, heart, caret-right vntd-list-background">
                <li>Travel Management Software</li>
                <li>Travel Booking System</li>
                <li>Travel Website Development</li>
                <li>Travel Web Application Development</li>
                <li>Existing Travel Portal Enhancement</li>
                <li>Travel Portal Maintenance &amp; Support</li>
                </ul>
            </div>
          </div>
          
        </div>