@import url(http://fonts.googleapis.com/css?family=Varela+Round);

 body { background: #333 url("http://codepen.io/images/classy_fabric.png"); }

 .row
 {
 	margin: 0px;
 }
 .padding-0
 {
 	padding: 0px;
 }
.table{background: #fff;}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0;color: #fff!important; font-family: 'Source Sans Pro', sans-serif;}
div#slider { overflow: hidden;
    position: relative;height: 500px;}
.reservation{position: absolute;
    left:4%;top:69%;background: rgba(255, 255, 255, 0.27);width: 90%;padding: 1%}
div#slider figure img { width: 20%; float: left;height: 500px; }
.form-group > input,select,button {
    appearance: none;
    width: 100%;
    margin: 0 15px;
    height: 35px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #e8ebed;
    color: #576366;
    font-size: 14px;}
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite; 
}
.prod_table > input {color: #000;}
.user-image
{
	height: 50px;
	width: 100px;
}
.color-blue
{
	background-color: #20B2AA !important;
}
.color-black
{
	color: #000000!important;
}
.color-white
{
    color: white;
}
.navbar-brand
{
	color: #000000 !important;
}
.navbar-brand:hover
{
	color: white!important;
}
.nav>li>a
{
	color: #000000 !important;
}
.nav>li>a:hover
{

    color: white!important;
}
.page-content
{
	color: white;
}
.color-white
{
	color: white!important;
}

.footer
{
	padding: 20px;
}
.social i
{
	padding-right: 15px;
}
.margin-8{margin:8%;}
.navbar{margin-bottom: 0px;}
.margin-top-14{margin-top: 14%;}