@import url(http://fonts.googleapis.com/css?family=Varela+Round);

 body {
     background: #D9EFFE url("http://codepen.io/images/classy_fabric.png");
     font-family: 'Raleway';}

h2{font-family: Raleway;}
 .row
 {
 	margin: 0px;
 }
 .padding-0
 {
 	padding: 0px;
 }
.table{background: #fff;}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
body { margin: 0;color: #fff!important; }
div#slider { overflow: hidden;
    position: relative;height: 500px;}
.reservation{position: absolute;
    left:4%;top:65%;background: rgba(255, 255, 255, 0.27);width: 90%;padding: 1%}
div#slider figure img { width: 20%; float: left;height: 500px; }
.form-head{position: absolute;
    top:55%;text-align: center;left: 31%;}
.form-group > input,select {
    appearance: none;
    width: 100%;
    margin: 0 15px;
    height: 35px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #e8ebed;
    color: #576366;
    font-size: 14px;}
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite; 
}
.prod_table > input {color: #000;}
.user-image
{
	height: 50px;
	width: 100px;
}
.fa:hover{color:#2ea19e;}
.color-blue
{
	background-color: #20B2AA !important;
}
.color-black
{
	color: #000000!important;
}
.color-white
{
    color: white;
}
.navbar-brand
{
	color: #000000 !important;
}
.navbar-brand:hover
{
	color: white!important;
}
.dropdown-menu>li>a{color: #000000 !important;}
.nav>li>a
{
	color: #000000 !important;
}
.nav>li>a:hover
{

    color: white!important;
}
.page-content
{
	color: white;
}
.color-white
{
	color: white!important;
}

.footer
{
	padding: 20px;
}
.social i
{
	padding-right: 15px;
}
.text-center{text-align: center}
.margin-8{margin:8%;}
.navbar{margin-bottom: 0px;}
.margin-top-14{margin-top: 14%;}
.card-block{padding:1.25em;}
.breif{margin-top: 12px;padding: 3%;color: #6d6d6d;}
.card > img{margin-bottom: 3%;}
.features{    background-color:  rgb(162, 107, 126);font-family: sans-serif;}
.trusted > div {
    /*color: #8e8e8e;*/
    text-align: center;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    line-height: 1.5em;
    /*background-color: #fff;*/
    color: #00b3ee;
    padding: 2%;
}
.trusted > h2 {color: #00689c;}

/*----------Responsive------------------*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{div#slider figure img { width: 20%; float: left;height: 283px; }
    /*.breif{display: none}*/
    #slider{height: 283px!important;}
.reservation{display: none;}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .reservation{display: none;}
}